/* * {box-sizing: border-box;} */

body{
    margin: 0;
    padding: 0;
    cursor:  url('data:image/x-icon;base64,AAACAAEAICAQAAAAAADoAgAAFgAAACgAAAAgAAAAQAAAAAEABAAAAAAAAAIAAAAAAAAAAAAAEAAAAAAAAAAAAAAAxPj/AA2UGAD///8Aj4d+AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEREREREREREAAAAAAAAAARAABEREREURAAAAAAAAABEQDMAEREREURAAAAAAAAARAMzMwEREREUQAAAAAAAAEQDMzMBERERFEAAAAAAAARAADMwERERERFAQAAAAAAEREQAMBERERERQEAAAAAABERERAFBQUFBQUBAAAAAAAREREQAERQRFBFAQAAAMwAAAAREAREREREUQEAAADMzADMAAABBQUFBFARAAAAzMzMzMwEBFBEUEUREQAAAMzMzMzMBEREREURERAAAADMzMzMzMAREREREREQAAAAzMzMzMzMwAERERERAAAAAMzMzMzMzMzBEQzNEAAAAADMzMzMzMzMEREMDRAAAAAAzMzMzMzMwRERDM0QAAAAAMzMzMzMzBEQARERAAAAAADMzMzMzMABAIgREQAAAAAAzMzMzMwAiAiAgRAAAAAAAMzMzMzBAAiIiIEAAAAAAADMzMzMAQAAiIABAAAAAAAAzMzMwBEQAAgAERAAAAAAAMzMzAAREAAIABEQAAAAAADMzMAAERAAAAAREAAAAAAAzMwAABEQAAAAERAAAAAAAMzAAAABAAAAAAEAAAAAAADMAAAAAAAAAAAAAAAAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/AAB//gAAP/4AAD/8AAAf/AAAH/wAAA/4AAAH+AAAB/gAAAcYAAAHAAAABwAAAAcAAAAHAAAADwAAAA8AAAAfAAAAPwAAAD8AAAA/AAAAfwAAAH8AAAD/AAAA/wAEAf8AAiD/AIIg/wGDYP8Dg+D/B8fx/w/v+/8f////P////w=='), auto;

}

header {
    display: flex;
    height : 110px;
    width: 100%;
    background-color: #340000;
}
/*.container {
  display: flex;
  align-items: stretch;
}
*/
.checked {
  color: orange;
}

#logo {
  text-align: right;
}

#title { 

color: white;
font-family: fantasy;
}

.imageContainer {
    margin: 0;
    width: 100%;
    height: auto;
    /*position:static;*/
    text-align: center;
    max-width: 1000px;
    position: relative;
    margin: auto;
    
}
.slider {
    display: flex;
    position: relative;
    height: auto;
    width: 100%;
    display: none;

 }

 .picture{
  vertical-align: middle;
  width: 100%;
 }
 

/* Fading animation */
 .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


 .text{
    position: absolute;
    top: 40%;
    left: 55%;
    font-family: fantasy;
    font-size: 220%;
    color: white;
    text-shadow:  black 0.1em 0.1em 0.2em;
 }



 .combo-box-order {

        flex-direction: column-reverse;   
        font-family: ABeeZee;
        background: #340000;
        padding: 9px;
        height: 45px;
        width: 220px;
        border-radius: 7px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        box-shadow: 0px 4px 4px 0px #00000040;
        color: white;
 }

 .combo-box-filter {

    flex-direction: column-reverse;   
    font-family: ABeeZee;
    background: #340000;
    padding: 9px;
    height: 45px;
    width: 260px;
    border-radius: 7px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    box-shadow: 0px 4px 4px 0px #00000040;
    color: white;

 }

#posterFilms {
    display: grid;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    column-gap: 10px;
    row-gap: 15px;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    grid-auto-flow: dense;
    grid-template-columns: 20% 20% 20% 20% ; 
  /*  grid-template-rows: 20% 20% 20% 20% ;*/
    margin-top: 30px;
   

}

.movieCard {
    color: #340000;
    background-color: #340000;
    border-radius: 3%;
    text-align: center;
    color: cornsilk;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 3% 3% 3% 3%;
    font-size: 12px;
    width: 200px;
    height: 360px;
    margin: 1em;
}


.moviePoster {
    text-align: center;
    border-radius: 3% 3% 0% 0%;
}
   

.movieYear {
    color:cornsilk;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}
.movieScore {
  color:cornsilk;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100%;
}

footer{
   
        display: flex;
        text-align: center;
        margin-left: auto;
        margin-right: auto; 
        height : 110px;
        width: 100%;
        background-color: #340000;
        font-family:  ABeeZee;
        font-size: 150%;
        color: white;
        letter-spacing: 0.1em;
        
    
}

/*
.flip-card {
    background-color: transparent;
    border-radius: 3% 3% 3% 3%;
    margin: 1em;
    width: 200px;
    height: 360px;
   perspective: 1000px; 
  }
  
  
  /*This container is needed to position the front and back side 
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  

  /*Do an horizontal flip when you move the mouse over the flip box container 
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  
  /* Position the front and back side 
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  
  /* Style the front side (fallback if image is missing) 
  .flip-card-front {
    background-color: #340000;
    color: #ffff;
  }
  
  
  /* Style the back side 
  .flip-card-back {
    background-color: rgb(39, 3, 3);
    color: white;
    transform: rotateY(180deg);

  }

  #description {
    font-size: 1 px;

  }
  */